// color palette - these colors will be the color swatches of the Colors section

$color-1: #fff; // white
$color-2: #44ca41; // green
$color-3: #ff1010; // red
$color-4: #ffff6d; // yellow
$color-5: #000; // black