// images variables

$header-img: url("images/moon.jpg");
$footer-img: url("images/earth.jpg");
$astronaut-img: url("images/astronaut.svg");
$satellite-img: url("images/satellite.png");
$shuttle-img: url("images/space-shuttle.svg");
$ufo-img: url("images/ufo.svg");
